<div *ngIf="countries.length === 0; else table" class="bg-gray-200 border-gray-600 text-gray-600 border-l-4 p-4 mt-6" role="alert">
    <p>No hay países que mostrar</p>
</div>

<ng-template #table>
    <div class="mt-6 border border-teal-600 rounded-lg shadow-sm overflow-hidden">
        <table class="w-full rounded-lg">
            <thead>
                <tr class="grid grid-cols-6 justify-center bg-gradient-to-r from-teal-200 to-green-200 leading-9">
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Capital</th>
                    <th>Población</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of countries; let i = index" class="grid grid-cols-6 justify-center text-center items-center leading-7 border-t py-1.5 border-blue-300 hover:bg-blue-100 hover:bg-opacity-30 hover:shadow-md hover:font-medium">
                    <td>{{i + 1}}</td>
                    <td><div class="flex justify-center"><img [src]="item.flags.svg" [alt]="item.flags.alt" width="48" /></div></td>
                    <td>{{item.name.common}}</td>
                    <td>{{item.capital}}</td>
                    <td>{{item.population}}</td>
                    <td>
                        <button class="rounded-full bg-teal-700 border-teal-950 text-white text-sm font-medium px-2 py-2">Ver más</button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</ng-template>